
/*전체*/
*{
   padding:0;
   margin:0;
   list-style:none;
}

body{
   overflow-x: hidden;
}
#return-to-top {
    color:#000;
    position: fixed;
    bottom: 200px;
    right: -30px;
    width: 100px;
    height: 50px;
    font-size:1em;
    display: block;
    text-decoration: none;
    display: none;
    transform:rotate(270deg);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999;
}

#return-to-top:hover {
    transform: scale(1.2) rotate(-90deg) translate(10px);
}

#return-to-top .fa-long-arrow-alt-up{
    transform:rotate(90deg);
    padding: 10px;
}

#return-to-top .fa-long-arrow-alt-up{
  transform:rotate(90deg);
  padding:10px;
}

/*header*/
#header1{
   width:100%;
   height:150px;
   font-size:16px;
   position:relative;
   border-bottom:1px solid #000;

}

#hwraper{
   width:80%;
}


#hwraper #hnavi{
   position:absolute;
   right:15%;
   top:60%;
}

#hwraper #hnavi li{
   float:left;
   display:block;
   padding-right:50px;
   font-size: 2rem;
   letter-spacing: 2px;   
}

#hwraper a:link,
#hwraper a:visited{
   color:#000;
   text-decoration: none;

}
#hwraper #hnavi a:hover{
   font-weight: bold;
   animation: border 0.5s;
}

#hwraper #logo{
   position:absolute;
   top:0;
   left:5%;
}

#hwraper .search{
   position:absolute;
   top:15%;
   right:4%;
   cursor: pointer;
}
#hwraper .searchbox{
   display:none;
   
}

#hwraper .search input{
   width:200px;
   height:30px;
   border-radius: 10px;
   outline: none;  
}

::placeholder{
   font-size:1.2rem;
}


#hwraper #loginDiv{
   font-size:px;
   cursor: pointer;
   position:absolute;
   right:3%;
   top:55%;  
   font-weight: bold;
}

.logon1:link,
.logon1:visited{
   color:#111;
   font-size:1.3rem;
   text-decoration: none;
}
.logon1:hover{
   font-weight: bold;
   animation: border 0.5s;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: orange;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
}
.cool-link-active{
    padding-bottom: 3px;
    border-bottom: 3px solid orange;
}

/*footer*/
#footer1{
   height:80px;
   position:relative;
   border-top: 1px solid #000;
}

#fwarper{
   width:100%;
   height:100%;
   margin:0 auto;
}

#fwarper #btn{
   width:50%;
   text-align:center;
   float:right;
   margin-top:20px;
   margin-right:40px;
}
#fwarper #btn p{
   text-align: right;
   padding-top:10px;
}

#fwarper #btn p a{
   letter-spacing: 2px;
   text-decoration: none;
   color:#656668;
   transition:all 0.3s;
   font-size:1.6rem;
}

#fwarper #btn p a:hover{
   color:#000;
   font-weight: bold;
}

.mainDiv{
   margin-top: 180px;
   text-align: center;
   font-size:5rem;	
   font-weight:bold;
}
.mainAni{
	/* 적용할 애니메이션 keyframes 의 이름 */
	animation-name: myAni;
	animation-duration: 3s;
	animation-timing-function: ease-out;		/* 실행속도(비율) */
	animation-iteration-count: infinite;		/* 반복횟수 (infinite-무한)*/
	/* 애니메이션 진행 방향
		normal(0%->100%진행), reverse(100%->0%진행), alternate(normal, reverse 반복 진행) 
	*/
	animation-direction: alternate;			
}
		
@keyframes myAni{
	0%{					/* 시작상태*/
		transform: rotate(0deg) scale(1.0);
	}
	50%{
		transform: rotate(180deg) scale(0.7);
	}
	100%{				/* 끝난상태*/
		transform: rotate(360deg) scale(1.2);
	}
}